{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 style = "text-align: center;">How to use this APIs</h1></br></br>
<div style = "text-align: left; color: rgba(51, 4, 49, 0.842);">
  <h3>Simulate user data from Cellphone Api simulator</h3>
  <h4><a href="http://127.0.0.1:5000/curr_mood/">Cellphone Api simulator</a></h4>
</div></br></br>
<div>
  <h3>Use this links to see the default user's examples</h3>
  <h4>Get current mood and location, mood frequency and happy distances from default user romi:</h4>
</div></br></br>
<div style = "text-align: left;">
  <ul>
    <h4><a href="http://127.0.0.1:5000/curr_mood/romi">Current Mood example</a></h4>
    <h4><a href="http://127.0.0.1:5000/mood_freq/romi">Mood frequency</a></h4>
    <h4><a href="http://127.0.0.1:5000/happy_dist/romi">Happy distances</a></h4>
  </ul>
</div></br></br>
<div style = "text-align: left; color: rgba(51, 4, 49, 0.842);">
<h3>Link to REST Methods Documentation</h3>
</div>
  <div style = "text-align: left;">
    <ul>
      <h4><a href="http://127.0.0.1:5000/swagger">Documentation page</a></h4>
    </ul>
  </div>
</form>
{% endblock %}
